html {
  font-size: 16px; }

body {
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  font-family: 'Questrial', monospace;
  background: #000000;
  color: #929292;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 1px;
  font-size: 0.875em;
  }

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #737373; }
  a:hover {
    color: #3498db;
    text-decoration: none;
    outline: 0; }
  a:focus, a:active {
    color: #737373;
    text-decoration: none;
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 1.2; }

iframe {
  max-width: 100%; }

embed,
object,
img {
  height: auto;
  max-width: 100%; }

table {
  border-collapse: collapse; }

th {
  background: #f1f1f1; }

th, td {
  text-align: left;
  padding: 8px 15px; }

.container {
  max-width: 980px; }

.site {
  position: relative;
  padding-bottom: 100px;

}

.site-main {
  padding: 80px 15px; }

.site-main.content-empty {
  text-align: center;
  padding: 80px 0 !important; }



/* Header/Page */
.page-header {
  text-align: center;
  padding: 10px 0 0;
}

.page-header h1 {
  display: inline-block;
  position: relative;
  font-size: 64px;
  color: #a5a5a5;
  margin: 0;
}

.page-header h1 span {
  position: absolute;
  top: -10px;
  right: -65px;
  font-size: 13px;
  padding: 3px 8px;
  border-radius: 1px;
  color: #fff;
  background: #222;
}

.page-header p {
  font-size: 18px;
}

.content h3 {
  font-size: 20px;
  color: #848484;
  text-align: center;
}

.content .item {
  padding: 15px;
}

.content .item a {
  position: relative;
  display: block;
}

.content .item a img {
  border: 8px solid #000;
}

.content .item a .overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0111219e;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
  
.content .item a .overlay span {
  position: absolute;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  color: #efefef;
  font-size: 17px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.3s;
  -moz-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
  transform: translate(-50%, -50%);
}

.content .item a .overlay p {
  position: absolute;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  color: #444;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.3s;
  -moz-transition: all 0.2s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  transform: translate(-50%, -50%);
  margin-top: 25px;
}

.content .item a:hover .overlay {
  opacity: .8;
}

.content .item a:hover .overlay span {
  padding: 0;
  opacity: 1;
}

.content .item a:hover .overlay p {
  padding: 0;
  opacity: 1;
}

.content .item .caption {
  padding: 20px;
  background: #000000;
}

.content .item .caption h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

/* Header/Site */
.site-header {

  display: block;
  max-width: 1730px;
  margin: 0 auto;
  text-align: right;
}

.site-header .demo-button {
  display: inline-block;
}

.site-header .demo-button a {
  display: inline-block;
  vertical-align: middle;
  color: #999;
  font-size: 16px;
  box-shadow: 0 0 1px transparent;
  margin-right: 30px;
  line-height: 48px;
}

.site-header .demo-button a:hover {
  color: #111;
}